<head prefix=”og: http://ogp.me/ns#”>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{- partial "opengraph" . }}
  {{- partial "twitter" . }}
  {{- partial "stylelink" . }}
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@400&display=swap" rel="stylesheet">
  <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  <link href="{{ .Site.Params.favicon | absURL}}" rel='icon' type='image/x-icon'/>
  {{ if .IsHome }}
  <title>{{ .Site.Title }}</title>
  {{ else }}
  <title>{{ .Title }} | {{ .Site.Title }}</title>
  {{ end }}
</head>